<% @createdjobs.each do |job| %>
	 <div class="container my-4">
    <div class="row">
      <div class="card">
        <div class="card-header">
         your created jobs
        </div>
        <div class="card-body">
          <h5 class="card-title"><%= job.name %></h5>
          <%= image_tag (job.avatar) if job.avatar.attached? %>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          
           <%= link_to "Edit", edit_companyjob_path(job), class:'btn btn-primary' %>
           <%= link_to "Destroy", companyjob_path(job), class:'btn btn-primary', data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %>
        </div>
        <% job.applicants.each do |applicant| %>
           <%=applicant.name %>
        <% end %>
        </div>
    </div>
 </div>

<% end %>