<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Some one has applied for postition of<%= @job.jobtype %>  at <%= @job.companyname %> </h1>
    <p>

      <h1>Job Details :-</h1>
       Salary is:-
       <%= @job.salary %>.<br>
       Job Category:
       <%= @job.jobcategory %>.<br>
       Job Type:
       <%= @job.jobtype%>.<br>
       Location for job
       <%= @job.location %>.<br>
    </p>
    <p>
         
      <h1>Applicant Details :-</h1>
       Name is:-
       <%= @applicant.name %>.<br>
       Applicant qualification:
       <%= @applicant.qualification %>.<br>
       Experience:
       <%= @applicant.experience%>.<br>

    </p>
    <p>
    </p>
    <p>Thanks! for choosing our platform  <%= @job.companyname %></p>
  </body>
</html>