
<div class="container">
    <div class="row mx-2 mb-4">
      <div class="col-md-8">
        <h1 class="text-center">we are hiring for  <%= @job.name %>  developer</h1>
      </div>
    </div>
     <div class="row my-2">
      <div class="col-md-2">
        <%= image_tag (@job.avatar) if @job.avatar.attached? %>
      </div>
      <div class="col-md-10">
        satna,m.p 
      </div>
      <div class="col-md-4 my-3">
       post date :<%= @job.created_at.strftime("%m/%d/%Y") %>
      </div>
    </div>
    <div class="row my-4">
      <div class="col-10">
        <h3>descriptions of job </h3>
         <%= @job.description %>
            
      </div>
    </div>
    <div class="row my-4">
      <div class="col-10 my-2">
        <h3>experience required:-</h1>
      </div>
      <div class="col-3">
        <p><%= @job.experience %> years</p>
      </div>
    </div>
    <div class="row my-4">
      <div class="col-10 my-2">
        <h3>qualificatios:-</h1>
      </div>
      <div class="col-3">
        <p><%= @job.qualification %></p>
      </div>
    </div>
    <div class="row mx-2 my-2">
      <div class="col-md-6">
       <!-- <button type="button" class="btn btn-primary">apply for job</button> -->
       <% if current_user.role == "regularuser" %>
              <% if @appliedresult %>
                <%= link_to "Apply", new_companyjob_applicant_path(@job), class:'btn btn-primary'%>
              <% else %>
                <%= link_to "Applied", new_companyjob_applicant_path(@job), class:'btn btn-primary'%>
              <%end %>
       <% end %>
      </div>
    </div>
</div>


<!-- <image src="<%#=(url_for(@job.avatar)) %>" -->
<%# end %>

  <% if current_user == @job.user %>
  <%= link_to "Edit", edit_companyjob_path(@job) , class:'btn btn-primary' %></li>
  <%= link_to "Destroy", companyjob_path(@job),class:'btn btn-primary', data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %>   
  <% end %>        